In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

#Path
project_root = Path("..")
raw_path = project_root/ "data"/ "netflix_titles.csv"

#Load
df = pd.read_csv(raw_path)

# Quick heads-up info
print("Shape (rows, cols):", df.shape, "\n")

# 1) Top rows to get a feel for values
print("---- df.head() ----")
display(df.head(10))

# 2) Data types & non-null counts
print("\n---- df.info() ----")
df.info()

Shape (rows, cols): (8807, 12)

---- df.head() ----

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

---- df.info() ----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [3]:
# 3) Missing value counts per column
print("\n---- Missing values ----")
missing = df.isna().sum().sort_values(ascending=False)
display(missing)

# 4) unique-value checks for important columns
print("\n---- unique type counts ----")
print(df['type'].value_counts(dropna=False))
print("\n---- sample of 'date_added' raw strings (first 10) ----")
print(df['date_added'].astype(str).head(10))

# 5) Quick peek at the 'duration' and 'listed_in' formats
print("\n---- sample durations ----")
display(df['duration'].dropna().unique()[:10])
print("\n---- sample listed_in values ----")
display(df['listed_in'].dropna().unique()[:8])

---- Missing values ----

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

---- unique type counts ----
type
Movie      6131
TV Show    2676
Name: count, dtype: int64

---- sample of 'date_added' raw strings (first 10) ----
0    September 25, 2021
1    September 24, 2021
2    September 24, 2021
3    September 24, 2021
4    September 24, 2021
5    September 24, 2021
6    September 24, 2021
7    September 24, 2021
8    September 24, 2021
9    September 24, 2021
Name: date_added, dtype: object

---- sample durations ----

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min'],
      dtype=object)

---- sample listed_in values ----

array(['Documentaries', 'International TV Shows, TV Dramas, TV Mysteries',
       'Crime TV Shows, International TV Shows, TV Action & Adventure',
       'Docuseries, Reality TV',
       'International TV Shows, Romantic TV Shows, TV Comedies',
       'TV Dramas, TV Horror, TV Mysteries', 'Children & Family Movies',
       'Dramas, Independent Movies, International Movies'], dtype=object)

In [2]:
# Cell: parse date_added and create year/month columns
import pandas as pd
from pathlib import Path

project_root = Path("..")
raw_path = project_root / "data" / "netflix_titles.csv"

# load fresh copy (so this cell is idempotent)
df = pd.read_csv(raw_path)
# Step 2: parse date_added
print("Before parsing:", df['date_added'].dtype)

df['date_added_parsed'] = pd.to_datetime(
    df['date_added'],
    errors='coerce',
    infer_datetime_format=True
)

print("Parsed values:", df['date_added_parsed'].notna().sum())
print("Failed to parse:", df['date_added_parsed'].isna().sum())

# Show first successful & failed rows
display(df[['date_added', 'date_added_parsed']].head(8))

print("\nFailed strings (up to 10):")
display(df.loc[df['date_added_parsed'].isna(), 'date_added'].dropna().unique()[:10])

# Derived columns
df['year_added'] = df['date_added_parsed'].dt.year
df['month_added'] = df['date_added_parsed'].dt.month
df['month_name_added'] = df['date_added_parsed'].dt.month_name()

display(df[['date_added', 'date_added_parsed', 'year_added']].head())

Before parsing: object
Parsed values: 8709
Failed to parse: 98

C:\Users\Faizan\AppData\Local\Temp\ipykernel_8744\899786846.py:13: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date_added_parsed'] = pd.to_datetime(

           date_added date_added_parsed
0  September 25, 2021        2021-09-25
1  September 24, 2021        2021-09-24
2  September 24, 2021        2021-09-24
3  September 24, 2021        2021-09-24
4  September 24, 2021        2021-09-24
5  September 24, 2021        2021-09-24
6  September 24, 2021        2021-09-24
7  September 24, 2021        2021-09-24

Failed strings (up to 10):

array([' August 4, 2017', ' December 23, 2018', ' December 15, 2018',
       ' July 1, 2017', ' July 26, 2019', ' May 26, 2016',
       ' November 1, 2019', ' December 2, 2017', ' March 15, 2019',
       ' October 1, 2019'], dtype=object)

           date_added date_added_parsed  year_added
0  September 25, 2021        2021-09-25      2021.0
1  September 24, 2021        2021-09-24      2021.0
2  September 24, 2021        2021-09-24      2021.0
3  September 24, 2021        2021-09-24      2021.0
4  September 24, 2021        2021-09-24      2021.0

In [3]:
# Step 2.1 — Clean whitespace in date_added and re-parse
# Remove leading/trailing spaces from the raw strings
df['date_added_clean'] = df['date_added'].astype(str).str.strip()

# Parse again WITHOUT deprecated arguments
df['date_added_parsed'] = pd.to_datetime(
    df['date_added_clean'],
    errors='coerce'   # convert anything invalid to NaT
)

# Show new results
print("Parsed after cleaning:", df['date_added_parsed'].notna().sum())
print("Failed after cleaning:", df['date_added_parsed'].isna().sum())

# Show failed values (if any remain)
print("\nRemaining failed strings:")
display(df.loc[df['date_added_parsed'].isna(), 'date_added_clean'].dropna().unique()[:20])

Parsed after cleaning: 8797
Failed after cleaning: 10

Remaining failed strings:

array(['nan'], dtype=object)

In [4]:
# Step 3 — Create derived date columns

# year number
df['year_added'] = df['date_added_parsed'].dt.year

# month number
df['month_added'] = df['date_added_parsed'].dt.month

# month name
df['month_name_added'] = df['date_added_parsed'].dt.month_name()

# Show rows to verify
df[['date_added', 'date_added_parsed', 'year_added', 'month_added', 'month_name_added']].head(10)

,date_added,date_added_parsed,year_added,month_added,month_name_added
0,"September 25, 2021",2021-09-25,2021.0,9.0,September
1,"September 24, 2021",2021-09-24,2021.0,9.0,September
2,"September 24, 2021",2021-09-24,2021.0,9.0,September
3,"September 24, 2021",2021-09-24,2021.0,9.0,September
4,"September 24, 2021",2021-09-24,2021.0,9.0,September
5,"September 24, 2021",2021-09-24,2021.0,9.0,September
6,"September 24, 2021",2021-09-24,2021.0,9.0,September
7,"September 24, 2021",2021-09-24,2021.0,9.0,September
8,"September 24, 2021",2021-09-24,2021.0,9.0,September
9,"September 24, 2021",2021-09-24,2021.0,9.0,September

In [5]:
# Step 4.1 — Cleanly parse duration into numeric + type

def parse_duration(value):
    """
    Takes a raw duration string like '90 min' or '2 Seasons'
    and returns a tuple: (numeric_value, type)
    """
    if pd.isna(value):
        return (None, None)

    value = str(value).strip()
    parts = value.split()

    number = parts[0]
    unit = parts[1]

    if "Season" in unit:
        return (int(number), "seasons")
    else:
        return (int(number), "minutes")
    #Fallback
    return (None, None)

In [6]:
# Step 4.2 — Apply parse_duration to each row

parsed = df['duration'].apply(parse_duration)

# Create two new columns
df['duration_num'] = parsed.apply(lambda x: x[0])
df['duration_type'] = parsed.apply(lambda x: x[1])

# Look at the first few rows
df[['duration', 'duration_num', 'duration_type']].head(10)

    duration  duration_num duration_type
0     90 min          90.0       minutes
1  2 Seasons           2.0       seasons
2   1 Season           1.0       seasons
3   1 Season           1.0       seasons
4  2 Seasons           2.0       seasons
5   1 Season           1.0       seasons
6     91 min          91.0       minutes
7    125 min         125.0       minutes
8  9 Seasons           9.0       seasons
9    104 min         104.0       minutes

In [7]:
# Step 5 — Clean the listed_in (genres) column

# Convert to string & strip whitespace
df['listed_in'] = df['listed_in'].astype(str).str.strip()

# Extract the first genre before the comma
df['primary_genre'] = df['listed_in'].str.split(',').str[0].str.strip()

# Show first few rows
df[['listed_in', 'primary_genre']].head(10)

                                           listed_in             primary_genre
0                                      Documentaries             Documentaries
1    International TV Shows, TV Dramas, TV Mysteries    International TV Shows
2  Crime TV Shows, International TV Shows, TV Act...            Crime TV Shows
3                             Docuseries, Reality TV                Docuseries
4  International TV Shows, Romantic TV Shows, TV ...    International TV Shows
5                 TV Dramas, TV Horror, TV Mysteries                 TV Dramas
6                           Children & Family Movies  Children & Family Movies
7   Dramas, Independent Movies, International Movies                    Dramas
8                       British TV Shows, Reality TV          British TV Shows
9                                   Comedies, Dramas                  Comedies

In [9]:
df['primary_genre'].value_counts().head(20)

primary_genre
Dramas                      1600
Comedies                    1210
Action & Adventure           859
Documentaries                829
International TV Shows       774
Children & Family Movies     605
Crime TV Shows               399
Kids' TV                     388
Stand-Up Comedy              334
Horror Movies                275
British TV Shows             253
Docuseries                   221
Anime Series                 176
International Movies         128
TV Comedies                  120
Reality TV                   120
Classic Movies                80
TV Dramas                     67
Thrillers                     65
Movies                        57
Name: count, dtype: int64

In [10]:
# Step 6.1 — clean and extract primary country

# Convert to string and strip spaces
df['country_clean'] = df['country'].astype(str).str.strip()

# Replace actual 'nan' strings with NaN
df['country_clean'] = df['country_clean'].replace('nan', None)

# Extract the first country before comma
df['primary_country'] = df['country_clean'].str.split(',').str[0].str.strip()

# Preview
df[['country', 'primary_country']].head(10)

                                             country primary_country
0                                      United States   United States
1                                       South Africa    South Africa
2                                                NaN            None
3                                                NaN            None
4                                              India           India
5                                                NaN            None
6                                                NaN            None
7  United States, Ghana, Burkina Faso, United Kin...   United States
8                                     United Kingdom  United Kingdom
9                                      United States   United States

In [11]:
df['primary_country'].value_counts().head(15)

primary_country
United States     3211
India             1008
United Kingdom     628
Canada             271
Japan              259
France             212
South Korea        211
Spain              181
Mexico             134
Australia          117
Egypt              112
Turkey             111
Germany            103
China              100
Nigeria             96
Name: count, dtype: int64

In [12]:
# Step 7.1 — Handle missing values

# director and cast have many missing values : fill with "Unknown"
df['director'] = df['director'].fillna("Unknown")
df['cast'] = df['cast'].fillna("Unknown")

# For primary_country, fill None with "Unknown"
df['primary_country'] = df['primary_country'].fillna("Unknown")

# rating has only 4 missing, fill with "Unknown"
df['rating'] = df['rating'].fillna("Unknown")

# duration_num or duration_type missing, fill with None or keep as is
# But let's fill their type to avoid NaN strings breaking plots
df['duration_type'] = df['duration_type'].fillna("Unknown")

In [13]:
df.isna().sum().sort_values(ascending = False).head(15)

country              831
country_clean        831
year_added            10
date_added_parsed     10
date_added            10
month_added           10
month_name_added      10
duration_num           3
duration               3
cast                   0
show_id                0
director               0
title                  0
type                   0
listed_in              0
dtype: int64

In [14]:
# Step 8 — Check and remove duplicates


duplicates_total = df.duplicated().sum()
print("Total duplicate rows:", duplicates_total)

# duplicates based on show_id
duplicates_id = df.duplicated(subset=['show_id']).sum()
print("Duplicate show_id entries:", duplicates_id)

# If any duplicates exist, drop them
df = df.drop_duplicates()

print("Shape after dropping duplicates:", df.shape)

Total duplicate rows: 0
Duplicate show_id entries: 0
Shape after dropping duplicates: (8807, 22)

In [15]:
# Step 9 — Save full cleaned dataset

clean_path = project_root / "data" / "netflix_cleaned.csv"

df.to_csv(clean_path, index=False)

clean_path

WindowsPath('../data/netflix_cleaned.csv')